@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
    margin-bottom: 100px;
    text-align: center;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 255, 255, 0.109);
}

img{
    height: 200px;
}

nav{
    background-color: rgba(128, 128, 128, 0.281);
    border-bottom: 1px solid black;
    padding: 16px

}

a{
    text-decoration: none;
    transition: color .5s;

}

a:hover{
    color: green;
}

.food-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* #list-item:hover{
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
} */

tr:nth-child(even){
    background-color: rgb(115, 115, 115);
}
